<template name="header">
    <nav class="navbar navbar-default" role="navigation">
        <div class="navbar-header">
            <header>
                <img id="logo" src="/logo2.png" alt="">
                <ul>
                    <li><a href="">Accueil</a></li>
                    <li><a href="">Liste des commandes</a></li>
                </ul>
                </header>
                <div class="collapse navbar-collapse" id="navigation">
                    <ul class="nav navbar-nav navbar-right">
                    {{> loginButtons}}
                    </ul>
                </div>
        </div>
    </nav>
</template>